/*** BEGIN file-header ***/
#pragma once

#include <ntk/backend/cairo/renderer.h>

G_BEGIN_DECLS
/*** END file-header ***/

/*** BEGIN file-production ***/
/* enumerations from "@basename@" */
/*** END file-production ***/

/*** BEGIN value-header ***/
#define @ENUMPREFIX@_TYPE_@ENUMSHORT@ @enum_name@_get_type()
GType @enum_name@_get_type() G_GNUC_CONST;
/*** END value-header ***/
